<div class='container'>
  <h1>Product Form</h1>

  <form class="form" [formGroup]="productForm">
    <input type="text" name="name" placeholder="Enter Product Name" [formControl]="productName"/>
    @if(productName.status == 'INVALID' && productName.touched == true){
      @if(productName.errors?.['required']!==undefined)
      {
        <p class='error'>Product Name is required</p>
      }
    @else if(productName.errors?.['minlength']!==undefined){
        <p class='error'>Minimum character length is {{productName.errors?.['minlength']['requiredLength']}}</p>
    }
    }
    <input type="number" name="price" placeholder="Enter Product Price" [formControl]="productPrice"/>
    <input type="text" name="category" placeholder="Enter Product Category" [formControl]="productCategory"/>
    <button type="click" (click)="submitForm()" [disabled]="productForm.invalid">Create Product</button>
  </form>
</div>